@import url("https://api.fontshare.com/v2/css?f[]=stardom@400&f[]=cabinet-grotesk@200&display=swap");

.flashcard {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  flex-shrink: 0;
  gap: 1rem;
  padding-top: 1.5rem;
}

.front {
  /* font-family: "Stardom", sans-serif; */
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: black;
  color: white;
}

.back {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 900;
}

.front,
.back {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.5rem 2.5rem;
  backface-visibility: hidden;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1.5px;
  top: 5px;
}

@media (min-width: 800px) {
  .front,
  .back {
    width: 70%;
  }
}

@media (min-width: 850px) {
  .front,
  .back {
    width: calc(56.25vh - 54px);
  }
}
